
<h1>Commentaires</h1>



<%= link_to "retour", restaurants_path(@restaurants), class: "btn btn-primary" %>


<% @reviews.each do |review| %>
  <h2><%= review.content %></h2>
  <p>Notes: <%= review.rating %></p>
<% end %>

